@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

/* -- universel -- */
body{
    font-family: "Inter", sans-serif;;
}
/* -- universel -- */


/* --- theme section --- */
@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}
@theme {
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 990px;
    --breakpoint-xl: 1280px;
    --color-gray5: #F9FAFB;
    --color-gray6: #4B5563;
    --color-gray9: #111827;
}
/* --- theme section --- */

/* --- Custom styles --- */

@layer base {
    
}

@layer components {
    
    
}
/* --- Custom styles --- */